*{
    margin: 0;
    padding: 0;
    text-decoration: none;
   
}

body{
font-family: Arial, Helvetica, sans-serif;
font-size: 12pt;


}
ul.menu{
    position: relative;
    list-style: none;
    font-size: 20pt;
    float: right;
    right: 100px;


}
.menu li{
    float: left;
    right: 300px;
    padding: 19px; 
}
header{
    width: 100%;
    height: 100px;
    position: fixed;
    
}
main{
    position: absolute;
    top: 120px;
}

@media(max-width: 450px){
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
       
    }
    
    body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    
    
    }
    ul.menu{
        position: relative;
        list-style: none;
        font-size: 10pt;
        float: right;
        right: 5px;
    
    
    }
    .menu li{
        float: left;
        right: 50px;
        padding: 8px; 
    }
    header{
        width: 100%;
        height: 100px;
        position: fixed;
    }
    main{
        position: absolute;
        top: 120px;
    }


}
