
form{
    width: 100%;
    height: 100%;
    background-color: #9F6EE0;
    box-shadow: 0px 0px 17px black;
    position: fixed;
    border-radius: 5px;
    left: 0px;
    top: 0px;
    
    
}
div#cronometro{
    position: relative;
    color: white;
    font-size: 65pt;
    text-align: center;
    top: 60px;
}
button{
    width: 120px;
    height: 120px;
    position: relative;
    text-align: center;
    border-radius: 100px;
    font-size: 20pt;
    font-family: monospace;
    left: 70px;
    padding: 0;
    margin: 0;
    
}
div#botoes{
    position: absolute;
    top: 450px;
    padding: 0;
    margin: 0;
    
}
span{
    border-radius: 2px;
    box-shadow: 0px 0px 1px black;
    width: 200px;
    height: 200px;
}
div#placar{
    position: absolute;
    top: 200px;
    left: 50px;
    width: 200px;
    height: 200px;
    font-size: 130pt;
    color: white;
    padding: 0;
    margin: 0;
    
}

div#teste{
    width: 100px;
    height: 100px;
    
}

span#pontos1{
    position: absolute;
    width: 200px;
    text-align: center;
    background-color: blue;
}

span#pontos2{
    position: absolute;
    left: 260px;
    text-align: center;
    background-color: rgb(182, 175, 175);
    color: rgb(255, 255, 255);
}
input#tres{
    position: absolute;
    top: 210px;
    left: 160px;
    width: 33px;
    border-radius: 10px;
}
input#dois{
    position: absolute;
    top: 210px;
    left: 80px;
    width: 33px;
}
input#quatro{
    position: absolute;
    top: 210px;
    left: 0px;
    width: 33px;
}
input#tres1{
    position: absolute;
    top: 210px;
    left: 420px;
    width: 33px;
}
input#dois1{
    position: absolute;
    top: 210px;
    left: 340px;
    width: 33px;
}
input#quatro1{
    position: absolute;
    top: 210px;
    left: 260px;
    width: 33px;
}
